div#signup, div#login{
    background: #fff;
    padding: 5px;
    margin:5px 3px;	
    border: 1px solid silver;
    border-radius: 8px;
}
 #login input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 16px;
    margin: 0px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 6px;	
	box-sizing: border-box;
    font-size: 16px;	 
    box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 9px;
	border-radius: 5px;
    border: 1px solid #6CF;
    outline:none;border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px; 
    line-height:20px;
}
#login:focus {
	outline:none;border: 1px solid #6CF;
	box-shadow: 0 0 10px #6AB5FF;-moz-box-shadow: 0 0 10px #6AB5FF;
	-webkit-box-shadow: 0 0 10px #6AB5FF;
}
	
div#login button {
    background-color: #555;
    color: #fff;
    padding: 7px 20px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid silver;
    border-radius: 6px;
    font-size: 19px;
    border: 1px solid #555999;
    outline:none;border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px; 
} 
    
#signup input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 18px;
    margin: 0px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 1px solid silver;
    border-radius: 6px;	
	box-sizing: border-box;
    font-size: 16px;	 
    box-shadow: 0 0 15px #cbcbcb;
	-moz-box-shadow: 0 0 15px #cbcbcb;
	-webkit-box-shadow: 0 0 15px #cbcbcb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 9px;
	border-radius: 5px;
    border: 1px solid #6CF;
    outline:none;border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px; 
    line-height:20px;
}
#signup:focus {outline:none;border: 1px solid #6CF;box-shadow: 0 0 10px #6AB5FF;-moz-box-shadow: 0 0 10px #6AB5FF;-webkit-box-shadow: 0 0 10px #6AB5FF;}
	
div#signup button {
    background-color: #555;
    color: black;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid silver;
    border-radius: 6px;
}
div#login #waite{
	display: none;
}

@media(min-width: 1000px){
	div#signup, div#login{
	    background: #fff;
	    padding: 15px;
	    margin: 5% 28%;	
	    border: 1px solid silver;
	    border-radius: 8px;
	}
}