body{
	padding: 0px;
	margin: 0PX;
	background: #ddd;
	font-size: 26px;

}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	margin: 0px;
}
ul{
	padding: 0px;
	margin: 0px;
}
ul li{
	display: inline;
	margin: 0px 10px;
}